    <form method="post">
        <h2 class="centerDiv">{{snippet.description}}</h2>
        <div id="viewSnippet">

            <p><pre><code>{{snippet.content}}</code></pre></p>
        </div>

        <div class="centerDiv">
            {{#if this.createdAt}}
                <p class="createdAt">Updated at: {{ snippet.updatedAt }}</p>

            {{ else }}
                <p class="createdAt">Created at: {{ snippet.createdAt }}</p>
            {{/if}}

               <button type="submit">Delete</button>

        </div>
    </form>





