{{# each snippet }}
        <div class="snippets">
            <a href="/snippet/{{this._id}}" id="snippetTitle"> {{ this.description }} </a>
            <a id="snippetLanguage">#{{this.language}}</a>
            <br>
            <pre><code> {{this.content}} </code></pre>
                {{#if this.updatedAt}}
                    <p class="createdAt">Updated at: {{ this.updatedAt }} by </p>
                {{ else }}
                    <p class="createdAt">Created at: {{ this.createdAt }}</p>
                {{/if}}

                {{#if ../user}}
                    <a href="/delete/{{this._id}}" class="snippetLink">Delete</a>
                    <a href="/update/{{this._id}}" class="snippetLink">Update</a>
                {{/if}}
            <p id="createdBy">Snippet by: <strong>{{this.createdBy}}</strong></p>
        </div>
{{/each}}








