<h1>Startsidan!</h1>

<div id="startForms">
    <a href="/createUser">Register here</a>
    <a href="/createSnippet">Create a snippet</a>
    <a href="/viewSnippet">View snippets</a>
    <!--<a href="/deleteSnippet/{{this.id}}">Delete snippets</a>-->

</div>


<a class="snippetLink">
    {{# each snippet }}
        <div class="snippets">
            <p>Description: {{ this.description }}</p>
            <p>Content: {{ this.content }}</p>
            <p class="createdAt">Created at: {{ this.createdAt }}</p>
            <a href="/deleteSnippet/{{this._id}}">Delete snippet</a>
        </div>
    {{/each}}
</a>
