<h2 class="centerDiv">{{snippet.description}}</h2>
<div id="viewSnippet">

    <pre><code>{{snippet.content}}</code></pre>
</div>

<div class="centerDiv">
    {{#if snippet.updatedAt}}
        <p class="createdAt">Updated at: {{ snippet.updatedAt }}</p>

    {{ else }}
        <p class="createdAt">Created at: {{ snippet.createdAt }}</p>
    {{/if}}

    {{#if user}}
        <a href="/delete/{{snippet._id}}" class="snippetLink">Delete</a>
        <a href="/update/{{snippet._id}}" class="snippetLink">Update</a>
    {{/if}}
</div>



