<h2 class="centerDiv">{{snippet.description}}</h2>
<div id="viewSnippet">

    <a href="/snippets">
        <pre><code>{{snippet.content}}</code></pre>
    </a>

</div>
<div class="centerDiv">
    {{#if snippet.updatedAt}}
        <p class="createdAt">Updated at: {{ snippet.updatedAt }}</p>
    {{ else }}
        <p class="createdAt">Created at: {{ snippet.createdAt }}</p>
    {{/if}}
    <p>Snippet by: <strong>{{snippet.createdBy}}</strong></p>
    {{#if user}}
        <a href="/delete/{{snippet._id}}"><i class="fa fa-remove" id="removeIcon"></i></a>
        <a href="/update/{{snippet._id}}"><i class="fa fa-edit" id="editIcon"></i> </a>
    {{/if}}
</div>



